/*
	 Organic Tabs
	 by Chris Coyier
	 http://css-tricks.com
*/

* { margin: 0; padding: 0; }

@font-face {
    font-family: "Actimaths";
    src: url('/data/fonts/actimaths.ttf');
}

/* Texte */

body {
    background-color: #696969;
    font: 15px Georgia, serif;
}

html { overflow-y: scroll; }

p {
    font-size: 15px;
    margin: 10px 0 10px 0;
}

p.input { text-align: center; }

.souligne {
    text-decoration: underline;
}

#page-wrap { width: 90%; margin: 80px auto; }

/* Liens */

a { text-decoration: none; }

a:focus { outline: 0; }

/* Listes */

li.titre {
    font-size:  20px;
    font-weight:  bold;
    text-align: center;
    padding: 10px 10px 10px 10px ;
}

li.sousTitre {
    font-size: 17px;
    padding: 5px 5px 5px 5px ;
}

li.sousSousTitre {
    list-style-type: disc;
    font-size: 15px;
    margin: 10px 0 10px 30px ;
}

/* Images */

img { 
    vertical-align:middle;
}

img.aide { 
    border: 1px solid #999;
    display: block;
    margin: 0 auto; 
}

.img10 {width: 10%;}
.img20 {width: 20%;}
.img30 {width: 30%;}
.img40 {width: 40%;}
.img50 {width: 50%;}
.img60 {width: 60%;}
.img70 {width: 70%;}
.img80 {width: 80%;}
.img90 {width: 90%;}
.img100 {width: 100%;}

/* Titres */

h1 {
    margin: 0 0 20px 0;
    font: bold 70px Actimaths;
    text-align: center;
}

h2 {
    font: 30px Actimaths;
    margin: 0 0 20px 0;
}

h2.erreur {
    text-align: center;
    color: white;
}

/* Label du formulaire */

label {
    font-size: 15px;
    margin: 0 0 1% 0;
    display: inline-block;
    text-align: left;
}

label.exercice {
    width: 50%;
}

label.option {
    width: 50%;
}

/* Champs de saisie du formulaire */

input, select {
    font: 15px sans-serif;
    box-sizing: border-box;
    border: 1px solid #999;
    margin: 0 1% 0 1%;
}

input:focus , select:focus{
    border-color: #000;
}

input.exercice{
    width: 4%;

}

input.parametre{
    width: 8%;
}

input.option, select.option{
    width: 40%;
}

/* Boutons de bas de page */

input.creer {
    width: 150px;
    text-align:center; 
    font: bold 30px Actimaths;
    color: black;
    background: white;
    padding: 10px 0px 5px 0px ;
}

input.annuler {
    width: 150px;
    text-align:center; 
    font: bold 30px Actimaths;
    color: black;
    background: #d30000;
    padding: 10px 0px 5px 0px ;
}

a.aide {
    width: 150px;
    text-align:center; 
    font: bold 30px Actimaths;
    color: black;
    background: #91BD09;
    padding: 10px 0px 5px 0px ;
    box-sizing: border-box;
    border: 1px solid #999;
    margin: 0 10px 10px 0;
    display: inline-block;
}

a.credits {
    width: 150px;
    text-align:center; 
    font: bold 30px Actimaths;
    color: black;
    background: #0575f4;
    padding: 10px 0px 5px 0px ;
    box-sizing: border-box;
    border: 1px solid #999;
    margin: 0 10px 10px 0;
    display: inline-block;
}

/* Onglets */

.hide { position: absolute; top: -9999px; left: -9999px; }

.Onglets{ background: #eee; padding: 10px; margin: 0 0 20px 0; box-shadow: 0 0 5px #666; }

.Onglets .nav { overflow: hidden; margin: 0 0 10px 0; }
.Onglets .nav li { width: 20%; float: left; margin: 0 1% 0 0; }
.Onglets .nav li.nav-0 { width: 15%; }
.Onglets .nav li.last { margin-right: 0; }
.Onglets .nav li a { display: block; padding: 5px; background: #959290; color: white; font: bold 17px Actimaths; text-align: center; border: 0; }
.Onglets .nav li a:hover { background-color: #111; }

.Onglets ul { list-style: none; }

.Onglets ul li.nav-0 a.current { background-color: #d30000; }
.Onglets ul li.nav-1 a.current { background-color: #0575f4; }
.Onglets ul li.nav-2 a.current { background-color: #8d01b0; }
.Onglets ul li.nav-3 a.current { background-color: #FE4902; }
.Onglets ul li.nav-4 a.current { background-color: #91BD09; }
